.drop-down {
    select {
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        padding: 15px;
        moz-appearance: none;
        -webkit-appearance: none;
        outline: none;
        border: none;
        cursor: pointer;
        option {
            padding: 15px;
            transition: all 0.2s ease-in-out;
        }
        :focus {
            outline: none;
        }
    }
}